# # # # # # # # # # # # # # # # # # # # # # # # # # #
#    _  ____      __                                  #
#   | |/ /\ \    / /_ ___   _____                     #
#   | ' /  \ \/\/ / _` \ \ / / _ \                    #
#   | . \   \    / (_| |\ V /  __/                     #
#   |_|\_\   \/\/ \__,_| \_/ \___|                     #
#                                                     #
#     KWave Framework                                 #
#     A refreshed FiveM RP Framework                  #
# # # # # # # # # # # # # # # # # # # # # # # # # # #

# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

### Endpoints Privacy ###
sv_endpointPrivacy true

sv_hostname "KWave Framework Server"
set steam_webApiKey ""
sv_licenseKey ""
sv_maxclients 10   # Allow access to features usually locked behind a FiveM patreon key

sets sv_projectName "KWave Framework Server"
sets sv_projectDesc "KWave - A refreshed FiveM RP framework powered by PostgreSQL"
sets tags "kwave, roleplay, postgresql, framework"

sv_enforceGameBuild 3095 #mp2023_02 - The Chop Shop
set resources_useSystemChat true

set onesync on  # Enable OneSync [REQUIRED]
set pgsql_connection_string "postgresql://user:password@localhost/kwave?sslmode=disable"

## Uncomment to set your own locale
#setr kw:locale "en"

## These resources will start by default.
ensure chat
ensure spawnmanager
ensure hardcap

## Add system admins
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.kw_core command.add_ace allow
add_ace resource.kw_core command.add_principal allow
add_ace resource.kw_core command.remove_principal allow
add_ace resource.kw_core command.stop allow

## Default & Standalone resources
ensure pgsql

## KWave Framework
ensure kw_core
ensure [core]
