* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
    color: rgb(0, 0, 0);
	font-weight: 300;
}

*, :focus, :hover {
	outline: none;
}

body {
    background: transparent;
	user-select: none;
	overflow: hidden;
    width: 100%;
    height: 100%;
}

.damage-effect {
    display: none;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: radial-gradient(transparent 50%, red 170%);
    opacity: 0.4;
}

.hud-grid-template {
    display: none;
    position: absolute;
    top: 0px;
    opacity: 0.3;
    background-image: url(images/grid.png);
    background-size: inherit;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: repeat;
}

/* info-hud */
.info-hud {
    position: absolute;
    display: flex;
    top: 1vh;
    right: 3vh;
}


.player {
    text-align: right;
    align-self: center;
    align-items: center;
    margin-right: 0.6vh;
}

.player > div {
    display: flex;
}

.player > .id > .id-label, 
.player > .cash > .cash-label, 
.player > .bank > .bank-label,
.player > .black_money > .black_money-label,
.player > .company > .company_money-label,
.player > .job > .job-label, 
.player > .gang > .gang-label,
.player > .ammo > .ammo-label
{
    font-size: 1.35vh;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}

.player > .id > .id-label > i, 
.player > .cash > .cash-label > i,
.player > .bank > .bank-label > i,
.player > .black_money > .black_money-label > i,
.player > .company > .company_money-label > i,
.player > .job > .job-label > i,
.player > .gang > .gang-label > i,
.player > .ammo > .ammo-label > i
{
    font-size: 1.35vh;
    color: rgba(184, 184, 184, 0.8);
    margin-right: 0.2vh;
}


.player > .id > .id-number, 
.player > .cash > .cash-value, 
.player > .bank > .bank-value, 
.player > .black_money > .black_money-value, 
.player > .company > .company_money-value,
.player > .job > .job-value > #job, .player > .job > .job-value > #job_grade,
.player > .gang > .gang-value > #gang, .player > .gang > .gang-value > #gang_grade,
.player > .ammo > .ammo-value
{
    font-size: 1.35vh;
    font-weight: 800;
    margin-left: 0.2vh;
    color: white;
}

.info-hud > .player > .id {
    display: none;
    justify-content: end;
    text-shadow: 0px 1px 1px #000000d9;
    margin-block: -0.5vh;
}

.info-hud > .player > .cash {
    display: none;
    justify-content: end;
    text-shadow: 0px 1px 1px #000000d9;
    margin-block: -0.5vh;
}

.info-hud > .player > .bank {
    display: none;
    justify-content: end;
    text-shadow: 0px 1px 1px #000000d9;
    margin-block: -0.5vh;
}

.info-hud > .player > .black_money {
    display: none;
    justify-content: end;
    text-shadow: 0px 1px 1px #000000d9;
    margin-block: -0.5vh;
}

.info-hud > .player > .company {
    display: none;
    justify-content: end;
    text-shadow: 0px 1px 1px #000000d9;
    margin-block: -0.5vh;
}

.info-hud > .player > .job {
    display: none;
    justify-content: end;
    text-shadow: 0px 1px 1px #000000d9;
    margin-block: -0.5vh;
}

.info-hud > .player > .gang {
    display: none;
    justify-content: end;
    text-shadow: 0px 1px 1px #000000d9;
    margin-block: -0.5vh;
}

.info-hud > .player > .ammo {
    display: none;
    justify-content: end;
    text-shadow: 0px 1px 1px #000000d9;
    margin-block: -0.5vh;
}


.server {
    display: grid;
}

.server-logo {
    width: 8vh;
    margin-inline: auto;
}

.server-name {
    margin-top: -0.5vh;
    color: white;
    font-size: 1.25vh;
    text-align: center;
    font-weight: 600;
    text-shadow: 0px 1px 1px #000000d9;
}



/* STATUS */
.status-hud {
    position: absolute;
    bottom: 2.3vh;
    left: 1vh;
    transition: 0.3s;
}

.status-hud-invehicle {
    left: 28.5vh !important;
}

.health-status, .armor-status, .stamina-status, .hunger-status, .thirst-status, .stress-status, .voice-status {
    display: flex;
    position: relative;
    height: fit-content;
    margin-block: 1.2vh;
    margin-inline-end: 1.8vh;
    z-index: 5000;
}

.health-range, .armor-range, .stamina-range, .hunger-range, .thirst-range, .stress-range, .voice-range {
    position: relative;
    height: auto;
    width: 0.3vh;
    background: rgba(0, 0, 0, 0.646);
    border-radius: 5px;
}

.health-icon, .armor-icon, .stamina-icon, .hunger-icon, .thirst-icon, .stress-icon, .voice-icon {
    margin-left: 1vh;
}

.health-icon > i, .armor-icon > i, .stamina-icon > i, .hunger-icon > i, .thirst-icon > i, .stress-icon > i, .voice-icon > i {
    font-size: 2.5vh;
    color: rgba(255, 255, 255, 0.807);
    filter: drop-shadow(0px 7px 5px #0000008d);
}

.health-range > div, .armor-range > div, .stamina-range > div, .hunger-range > div, .thirst-range > div, .stress-range > div, .voice-range > div {
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-radius: 5px;
}

.health-range > div {
    -webkit-transition: height 0.2s ease-in-out;
    -moz-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    background: #ce1212;
}

.armor-range > div {
    -webkit-transition: height 0.2s ease-in-out;
    -moz-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    background: #c2c2c2;
}

.stamina-range > div {
    -webkit-transition: height 0.2s ease-in-out;
    -moz-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    background: #1dcaff;
}

.hunger-range > div {
    -webkit-transition: height 0.2s ease-in-out;
    -moz-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    background: #d58113;
}

.thirst-range > div {
    -webkit-transition: height 0.2s ease-in-out;
    -moz-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    background: #0f94e0;
}

.stress-range > div {
    -webkit-transition: height 0.2s ease-in-out;
    -moz-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    background: #ed3248;
}

.voice-range > div {
    -webkit-transition: height 0.2s ease-in-out;
    -moz-transition: height 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out;
    transition: height 0.2s ease-in-out;
    background: #0fe05f;
}



/* CAR HUD - STREET */
.vehicle-hud {
    display: none;
}

.vehicle-hud > .streetlabel {
    position: absolute;
    bottom: 21.5vh;
    left: 1.5vh;
}

.vehicle-hud > .streetlabel > .street {
    color: white;
    font-size: 1.35vh;
    font-weight: 600;
    filter: drop-shadow(0px 3px 4px #0000008d);
}

.vehicle-hud > .streetlabel > .zone {
    color: rgb(236, 236, 236);
    font-size: 1.1vh;
    font-weight: 100;
    filter: drop-shadow(0px 3px 4px #0000008d);
}

/* CAR HUD - SPEEDOMETER LINEAR */
.speedometer-linear {
    display: none;
    position: absolute;
    width: fit-content;
    right: 2vh;
    bottom: 4vh;
    transition: transform 0.2s ease-in-out;
    z-index: 50000;
}

.speedometer-linear > .speed {
    text-align: right;
}

.speed > .value > .zero {
    color: rgba(180, 180, 180, 0.5) !important;
}

.speedometer-linear > .speed > .value > span {
    color: white;
    letter-spacing: -0.3vh;
    font-size: 3.35vh;
    font-weight: 700;
}

.speedometer-linear > .speed > .unit {
    color: rgb(202, 202, 202);
    font-size: 2.0vh;
    font-weight: 100;
}

.speedometer-linear > .icons {
    display: flex;
    justify-content: right;
}

.speedometer-linear > .icons > div {
    margin-inline-start: 0.7vh;
}

.speedometer-linear > .icons > div > img {
    width: 2vh;
}

.speedometer-linear > .fuel {
    display: none;
}

.speedometer-linear > .fuel > .fuel-status {
    display: flex;
    align-items: center;
}

.speedometer-linear > .fuel > .fuel-status > .fuel-range {
    width: 17vh;
    height: 1.5vh;
    background: rgba(0, 0, 0, 0.676);
    border-radius: 5px;
    margin-right: 1vh;
}

.speedometer-linear > .fuel > .fuel-status > .fuel-range > div {
    height: 100%;
    background: rgba(255, 187, 0, 0.829);
    border-radius: 5px;
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

.speedometer-linear > .fuel > .fuel-status > .fuel-icon > i {
    color: #ffffff;
}

/* CAR HUD - SPEEDOMETER CIRCLE */
.speedometer-circle {
    display: none;
    position: absolute;
    right: 0vh;
    bottom: 0vh;
    width: 30vh;
    height: 30vh;
    transform: scale(0.80);
    transition: transform 0.2s ease-in-out;
    z-index: 50000;
}

.circle {
    fill: none;
    stroke: rgba(0,0,0,0.85);
    stroke-width: 1.85px;
    filter: drop-shadow(0px 0px 0.2px rgba(0, 0, 0, 0.5));
    width: 30vh;
    height: 30vh;
    transform-origin: center;
    transform: rotate(-145deg);
    transition: 0.2s;
}

.speedometer-part{
    position: absolute;
}

.rpm-value {
    stroke: rgba(255, 255, 255);
}

.speedometer-fuel {
    display: none;
    position: absolute;
}

.circle-fuel {
    fill: none;
    stroke: rgba(0,0,0,0.85);
    stroke-width: 0.5px;
    filter: drop-shadow(0px 0px 0.2px rgba(0, 0, 0, 0.5));
    width: 30vh;
    height: 30vh;
    transform-origin: center;
    transform: translate(10.3px, 1.685px) rotate(2deg);
    transition: 0.2s;
}

.fuel-value {
    stroke: rgba(255, 255, 255);
    opacity: .6;
}

.speedometer-circle > .fuel-icon {
    display: none;
    position: absolute;
    right: 6vh;
    bottom: 1.2vh;
}

.speedometer-circle > .fuel-icon > i {
    color: #ffffff;
    font-size: 1.3vh;
}

.speedometer-circle > .speed {
    position: relative;
    display: inline-grid;
    bottom: -7.85vh;
    width: inherit;
    text-align: center;
}

.speedometer-circle > .speed > .value {
    margin-bottom: -2vh;
}

.speedometer-circle > .speed > .value > span {
    color: white;
    letter-spacing: -0.3vh;
    font-size: 7vh;
    font-weight: 700;
}

.speedometer-circle > .speed > .unit {
    color: rgb(219, 219, 219);
    text-align: center;
    font-size: 2.35vh;
    font-weight: 100;
}

.speedometer-circle > .icons {
    display: flex;
    justify-content: center;
    position: absolute;
    width: inherit;
    bottom: 2vh;
}

.speedometer-circle > .icons > div {
    margin-inline: 0.4vh;
}

.speedometer-circle > .icons > div > img {
    width: 3vh;
}

/* CINEMATIC HUD */
.cinematic-hud {
    display: none;
}

.top-cinematic {
    position: absolute;
    background: black;
    box-shadow: 0px -3vh 2vh black;
    width: 100%;
    height: 8vh;
    /* top: 0px; */
    animation: to-bottom 0.3s normal forwards ease-in-out;
}

.bottom-cinematic {
    position: absolute;
    background: black;
    box-shadow: 0px 3vh 2vh black;
    width: 100%;
    height: 8vh;
    animation: to-top 0.3s normal forwards ease-in-out;
    /* bottom: 0px; */
}






/* CUSTOMIZATION MENU */
.customize-hud-menu {
    display: none;
    position: relative;
    width: 100%;
    transition: 0.2s;
}

.customize-hud-menu > div {
    margin-top: 8vh;
    position: relative;
    height: 40vh;
    width: 55vh;
    border-radius: 7px;
    margin-inline: auto;
}

.customize-title {
    text-align: center;
    color: white;
    font-size: 2.35vh;
    font-weight: 800;
    background: #070707e6;
    box-shadow: 0px 0px 15px #07070781;
    border-radius: 10px;
    padding-block: 1vh;
    margin-bottom: 1vh;
}

.customize-options {
    width: 100%;
    padding-inline: 2vh;
    background: #070707e6;
    box-shadow: 0px 0px 15px #07070781;
    border-radius: 10px;
    display: table;
    padding-block: 1vh;
}

.customize-options > .draggable_help {
    justify-content: center;
}

.customize-options > .draggable_help > i {
    color: #ffffffed;
    font-size: 2vh;
}

.customize-options > .draggable_help > span {
    font-size: 1.25vh;
    font-weight: 600;
    margin-left: 0.85vh;
    color: rgb(255 255 255 / 48%);
}

.customize-options > div {
    display: flex;
    align-items: center;
    margin-block: 1vh;
}

.customize-options > div > .settings {
    display: flex;
    align-items: center;
}

.customize-options > div > .option-label {
    color: white;
    font-size: 1.35vh;
    font-weight: 100;
    margin-left: 0.5vh;
}

.customize-options > div > .option-label > i {
    color: white;
    margin-right: 0.2vh;
}

.customize-options > div > .option-label > span {
    color: white;
}

.reset-settings {
    background: #000000d7;
    text-align: center;
    width: fit-content;
    margin-inline: auto;
    padding: 0.95vh 6vh;
    border-radius: 10px;
    cursor: pointer;
}

.reset-settings > div {
    color: white;
    font-size: 1.35vh;
    font-weight: 100;
}

input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    color: white;
    height: 1.45em;
    border: none;
    cursor: pointer;
    border: 0.085em solid rgb(238, 238, 238);
    border-radius: 5px;
    line-height: 1px;
    padding-inline: 0.3vh;
    margin-right: 0.5vh;
    font-weight: 500;
    transition: 0.35s;
}

.selected-button {
    background-color: white !important;
    color: black !important;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 1.45em;
    height: 1.45em;
    border: none;
    cursor: pointer;
    margin-right: 0.5vh;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 5px;
    border: 0.085em solid rgb(238, 238, 238);
}

input[type="color"]::-moz-color-swatch {
    border-radius: 5px;
    border: 0.085em solid rgb(238, 238, 238);
}

input[type="checkbox"] {
    appearance: none;
    background-color: #00000036;
    margin: 0;
    font: inherit;
    color: rgb(238, 238, 238);
    width: 1.45em;
    height: 1.45em;
    border: 0.085em solid rgb(238, 238, 238);
    border-radius: 5px;
    display: grid;
    place-content: center;
    margin-right: 0.8vh;
}
  
input[type="checkbox"]::before {
    content: "";
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em rgb(238, 238, 238);
    width: 0.95em;
    height: 0.95em;
    border-radius: 2px;
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.warning-pulse {
    animation: pulse 2s infinite;
    transition: 0ms animation ease-in-out;
}

.voice-pulse {
    transform: scale(1.2);
    transition: 200ms transform ease-in-out;
}

.non-visible {
    display: none;
}


@keyframes pulse {
	0% {
		transform: scale(1.0);
	}
	50% {
		transform: scale(1.25);
        color: #ce6464c9;
	}
	100% {
		transform: scale(1.0);
	}
}

@keyframes to-bottom {
    from {
        top: -150px;
    }
    to {
        top: 0px;
    }
}

@keyframes to-top {
    from {
        bottom: -150px;
    }
    to {
        bottom: 0px;
    }
}